@font-face {
    font-family: 'Ninja Naruto';
    src: url('../../resources/font/njnaruto.ttf') format('ttf');
    /* Дополнительные форматы шрифта, например, 'ttf', 'svg', могут быть добавлены в соответствующем порядке */
}
.theme-switch {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
}
.dark-theme h1 {
    color: #fff; /* Белый цвет для темной темы */
}
body {
    font-family: 'Ninja Naruto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.3s;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

h1 {
    color: #333;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.button {
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2980b9;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.character-image,
.village-image,
.clan-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}